
<%= form_with model: @customer, url: customer_path(@customer), method: :patch,  local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, "ユーザー名" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
　　<%= f.submit '変更', class: "btn btn-success"%>

<% end %>