<div class="plate mx-auto" id="cork">
  <span>ようこそ！！</span>
  </div>
<div class="home-box mx-auto my-3">
    <p class="home-text">料理共有サイト「COOKING REVOLUTION」へ、ようこそ<br>
    このサイトは、ご自身で制作した料理や共有したい料理を
    投稿したり他の方が投稿した料理の写真等を閲覧することができます。<br>
    ※ログインをしなくても閲覧は可能ですが、投稿や投稿への反応はアカウント登録が必須です。<br>
    <br>
    <%= link_to "ログイン", class: "btn btn-info btn-sm btn-block mb-3 sign_in"%><br>
    <%= link_to "アカウント登録をしないではじめる", class: "btn btn-info btn-sm btn-block mb-3 sign_in"%><br>
    </p>

</div>